<!doctype html>

<html lang='zh-cn'>

<head>
  <meta charset='utf-8' />
  <title>CWOI Problems</title>

  <style>
    body {
      width: 90%;
      margin: auto;
    }

    .problem-table {
      table-layout: fixed;
      width: 100%;
      border: none;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      padding: .5em;
    }

    .problem-table tr td {
      border: none;
      border-right: 1px solid black;
    }

    .problem-table tr :last-child {
      border: none;
    }

    .problems {
      padding: 0;
    }

    .contest {
      text-align: left;
    }
  </style>
</head>

<body>
  <h1>CWOI Problems</h1>
  <table>
    <thead>
      <tr>
        <th>比賽名稱</th>
        <th>題目</th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contests %}
      <tr>
        <th class="contest">
          <a href="{{ cwoi }}/contest/{{ contest['contestDisplayId'] }}">
            {{ contest['contestDisplayId'] }}
            {{ contest['contestTitle'] }}
          </a>
        </th>
        <td class="problems">
          <table class="problem-table">
            <tr>
              {% for prob in contest['problems']%}
              <td>
                <a href="{{ cwoi }}/contest/{{ contest['contestDisplayId'] }}/problem/{{ prob['displayId'] }}">
                  {{ prob['displayId'] }}. {{ prob['problemTitle'] }}
                </a>
              </td>
              {% endfor %}
            </tr>
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>