<!doctype html>

<html lang='zh-cn'>
    <head>
        <meta charset='utf-8' />
        <title>CWOI Problems</title>
    </head>
    <body>
        {% for i in contests %}
        <h2>{{contests[i]['display_id']}} <a href="{{ cwoi }}/contests/{{ contests[i]['display_id'] }}">{{ contests[i]['title'] }}</a></h2>
        <ol type='A'>
            {% for j in contests[i].problems %}
            <li><a href="{{ cwoi }}/contests/{{ contests[i]['display_id'] }}/problems/{{ j }}">
                    {{ contests[i].problems[j] }}
                </a></li>
                {% endfor %}
        </ol>
        {% endfor %}
    </body>
</html>
