---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProblemTable from "../components/ProblemTable.astro";
---

<BaseLayout>
  <form id="handle-form">
    <input placeholder="handle" id="handle-input" />
  </form>
  <ProblemTable />
</BaseLayout>

<style>
  input {
    margin: 0.5em 0;
  }
</style>

<script>
  const form = document.getElementById("handle-form") as HTMLFormElement;
  const input = document.getElementById("handle-input") as HTMLInputElement;
  form.onsubmit = (ev) => {
    console.log(input.value);
    if (input.value === "") location.href = "/";
    else location.href = `/solved/${input.value}`;
    return false;
  };
</script>
