---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getSession } from "auth-astro/server";

if (await getSession(Astro.request)) return Astro.redirect("/");
---

<BaseLayout title="登錄">
  <div id="step1">
    <form id="form1">
      <label>
        用戶名：
        <input id="name-input" minlength="1" />
      </label>
      <button>確認</button>
    </form>
  </div>
  <hr />
  <div id="step2"></div>
</BaseLayout>

<script>
  import type { CredentialSchema } from "../../auth.config";

  const { signIn } = await import("auth-astro/client");

  const form1 = document.getElementById("form1") as HTMLFormElement;
  const nameInput = document.getElementById("name-input") as HTMLInputElement;

  form1.addEventListener("submit", (e) => {
    e.preventDefault();

    const name = nameInput.value;

    fetch(`/api/requestChallenge?name=${encodeURIComponent(nameInput.value)}`)
      .then((r) => r.json())
      .then((r: CredentialSchema) => {
        const step2 = document.createElement("div");
        const hint = document.createElement("p");
        hint.innerText = `請在 ${new Date(parseInt(r.expireTime)).toLocaleString()} 前，修改帳號 "${name}" 的格言，使之以字符串 "${r.challenge}" 開頭。`;
        step2.appendChild(hint);
        const submit = document.createElement("button");
        submit.addEventListener("click", (e) => {
          signIn("credentials", {
            ...r,
          });
        });
        submit.innerText = "完成";
        step2.appendChild(submit);
        const oldStep2 = document.getElementById("step2");
        oldStep2.parentNode.replaceChild(step2, oldStep2);
        step2.id = "step2";
      })
      .catch((e) => {
        console.error(e);
      });
  });
</script>
